.fourCards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-left: 1rem;
}

.Rectangle {

    padding: 3rem;
    border-radius: 20px;
    background-color:$white;
@include boxShadow;
}

.companyLogos {
    @include defaultFlex;
    margin: 0 auto;

}

.companyLogos img {
    padding: 2rem;
}