// // -----------------------------------------------------------------------------
// // This file contains all application-wide Sass variables.
// // -----------------------------------------------------------------------------
$blue: #2437AC;
$babyBlue: #00B8FF;
$white : #ffffff;
$gray :#727272;
$backgroundGray: #F1F5EB;
$boldGray: #D9D9D9;
$lineGray: #E3DBD8;
$fontStyling : Plus Jakarta Sans;